html,
body,
#root {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.react-datepicker__input-container {
  display: block;
}

.react-datepicker-wrapper {
  width: 100%;
}

input[type="file"] {
  display: block;
}
